body {
   box-sizing: border-box;
  font-family: Verdana, Helvetica, sans-serif;
  
}

header {
  background-color: yellowgreen;
  padding: 10px;
  
 }
 
 h2 {
   color: olivedrab;
 }
 .column-1 {
   background-color: papayawhip;
   width: 47%;
   display: inline-block;
   padding: 10px;
  
 }
 
 footer {
   text-align: center;
 
 }
 
 .column-2 {
   background: tomato;
   width: 47%;
   display: inline-block;
   vertical-align: top;
   padding: 10px;
   
 }
 
 a:link,
 a:visited {
   color: #000;
 }
 
 a:hover,
 a:focus {
   color: goldenrod;
 }
 
 
  footer{
   background-color: #00BFFF;
 }
 